:root {
	--primary-color: #546791;
	--text-color: #ffffff;
	--delete-button-background: #ff0000;
	--checkbox-checked-background: #546791;
	--checkbox-border-color: #000000;
	--checkbox-text-color: #ffffff;
	--default-border-color: #000000;
	--error-color: #ff0000;
}
html {
	font-size: 10px;
	line-height: 10px;
}
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#tasks {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-navigation {
	width: 100%;
	background-color: var(--primary-color);
	display: flex;
	justify-content: space-around;
}
.main-navigation__button-item {
	text-decoration: none;
	color: var(--text-color);
	padding: 20px;
	font-size: 1.5rem;
}
.tasks__wrapper {
	padding-top: 15px;
	max-width: 70%;
	width: 100%;
}
.create-task-block {
}
.create-task-block__input {
	width: 50%;
}
.default-input {
	border-width: 1px;
	border-color: var(--primary-color);
	border-radius: 5px;
	padding: 5px;
	font-size: 1.5rem;
	color: var(--primary-color);
}
.default-button {
	border: 2px solid var(--primary-color);
	background-color: var(--primary-color);
	border-radius: 5px;
	outline: none;
	color: var(--text-color);
	font-size: inherit;
	cursor: pointer;
}
.default-button:active {
	border: 2px solid var(--text-color);
}
.create-task-block__button {
	padding: 5px;
	font-size: 1.5rem;
}
.tasks-list {
	padding-top: 3rem;
	max-width: 100%;
	width: 70%;
}
.task-item:not(:last-child) {
	margin-bottom: 2rem;
}
.task-item__main-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--primary-color);
	padding-bottom: 0.3rem;
}
.task-item__main-content {
	display: inline-flex;
	align-items: center;
}
.checkbox-form {
	display: flex;
	align-items: center;
	text-align: center;
}
.checkbox-form__checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox-form__checkbox + label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}
.checkbox-form__checkbox + label::before {
	content: "";
	display: inline-block;
	width: 1rem;
	height: 1rem;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid var(--primary-color);
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.checkbox-form__checkbox:not(:disabled):not(:checked) + label:hover::before {
	border-color: #b3d7ff;
}
.checkbox-form__checkbox:not(:disabled):active + label::before {
	background-color: var(--primary-color);
	border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.checkbox-form__checkbox:focus + label::before {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkbox-form__checkbox:focus:not(:checked) + label::before {
	border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии checked */
.checkbox-form__checkbox:checked + label::before {
	border-color: var(--primary-color);
	background-color: var(--primary-color);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox-form__checkbox:disabled + label::before {
	background-color: #e9ecef;
}

.task-item__text {
	font-size: 1.5rem;
}
.task-item__delete-button {
	padding: 5px;
}
